.button{
    color: var(--link-text-color-purple-hover);
    border: 1px solid var(--link-text-color-purple);
    background: var(--ui-nav-grey);
    display: inline-block;
    text-decoration: none;
    text-align: center;
    align-self: center;
    border-radius: 5px;
    width: 7em;
    padding: 5px;
    user-select: none;
}

.button:hover{
    color: var(--font-on-ui-grey);
    border: 1px solid var(--link-text-color-purple-hover);
}

.button-selected{
    color: var(--font-on-ui-grey);
    border: 1px solid var(--link-text-color-purple-hover);
}

.hero-container .button{
    margin: 50px 50px;
}

.resume-nav .button{
    margin: 10px;
}

.button > svg{
    display: inline-flex;
    align-self: center;
    top: -.125em;
    position: relative;
}
