.button{
    color: var(--link-text-color-purple);
    border: 1px solid var(--link-text-color-purple);
    background: var(--ui-nav-grey);
    text-decoration: none;
    text-align: center;
    align-self: center;
    border-radius: 5px;
    width: 7em;
    padding: 5px;
    margin: 50px 0;
}

.button:hover{
    color: var(--font-on-ui-grey);
    border: 1px solid var(--link-text-color-purple-hover);
}
