.hero-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    height: 100vh;
    background: url("../images/hero-container/Fade-In-Background.svg");
    background-size: cover;
}

.hero-container span{
    color: var(--link-text-color-purple);
}

.hero-container div > a{
    text-decoration: none;
}