/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 599px) {
    main > :nth-child(odd), main > :nth-child(even) {
        margin: 10px;
        padding: 10px 50px;
    }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    main > :nth-child(odd), main > :nth-child(even) {
        margin: 10px 50px;
        padding: 10px 50px;
    }
}

main > :nth-child(odd), main > :nth-child(even) {
    background: var(--ui-grey);
    border-radius: 5px;
    overflow: hidden;
}

main h2{
    text-align: center;
}

main p > span:not(.button){
    font-weight: bold;
}
