/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 600px) {
    #myWork .card-container {
        display: flex;
        flex-direction: column;
    }

    #myWork .card-container > .card {
        padding: 1rem;
        margin: 1rem 0;
    }
}

/* Small screen devices (600px and above) */
@media only screen and (max-width: 1400px) {

    #myWork .card-container > .card {
        padding: 2rem;
        margin: 2rem;
        height: 45ch;
        /*flex: auto;*/
    }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 1401px) {
    #myWork .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        align-items: stretch;
    }

    #myWork .card-container > .card {
        padding: 2rem;
        margin: 2rem 0;
        flex: 1 1 30%; /*grow | shrink | basis */
    }
}

#myWork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myWork .card-container {
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 50vw;
}

#myWork .card-container > .card {
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
}

#myWork .card-container > .card:hover{
    border: 1px solid var(--link-text-color-purple);
    box-shadow: 5px 5px 10px var(--ui-nav-grey), inset 2px 2px 5px var(--ui-nav-grey);
    border-radius: 5px;
}

#myWork .card-container > .card > .card-image > img {
    width: 10rem;
    height: 8rem;
}


#myWork .card-container > .card > .card-buttons{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-self: center;
    justify-content: center;
}