/* CSS Reset */
@import url(https://cdn.skypack.dev/sanitize.css);
@import url(animations.css);
@import url(nav-styles.css);
@import url(hero-styles.css);
@import url(main-styles.css);

:root{
    --ui-nav-grey: #1c1c1c;
    --ui-grey: #2e2e2e;
    --ui-black: #0e0e0e;
    --font-on-ui-black: #ffffff;
    --font-on-ui-grey: #dedede;
    --link-text-color-blue: #065fd4;
    --link-text-color-blue-hover: #0770fa;
    --link-text-color-purple: #834fd6;
    --link-text-color-purple-hover: #9a5dfc;
}

html{
    scroll-behavior: smooth;
    /*!* This prevents horizontal scrollbars on slide in animations *!*/
    overflow-x: hidden;
}

body {
    font-family: Verdana, sans-serif;
    background: var(--ui-black);
    color: var(--font-on-ui-grey);
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
    /* Changes the scroll padding to accommodate mobile*/
    html{
        scroll-padding: 55px;
    }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    /* Changes the scroll padding to accommodate the header */
    html{
        scroll-padding: 45px;
    }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
}

.hidden{
    display: none;
}
