/* CSS Reset */
@import url(https://cdn.skypack.dev/sanitize.css);
@import url(animations.css);
@import url(button-styles.css);
@import url(accordian-styles.css);
@import url(nav-styles.css);
@import url(hero-styles.css);
@import url(main-styles.css);
@import url(about-me-styles.css);
@import url(projects-styles.css);
@import url(resume-styles.css);
@import url(footer-styles.css);

:root{
    --ui-nav-grey: #1c1c1c;
    --ui-grey: #2e2e2e;
    --ui-black: #0e0e0e;
    --font-on-ui-black: #ffffff;
    --font-on-ui-grey: #dedede;
    --link-text-color-blue: #065fd4;
    --link-text-color-blue-hover: #0770fa;
    --link-text-color-purple: #834fd6;
    --link-text-color-purple-hover: #9a5dfc;
}

html{
    scroll-behavior: smooth;
    /*!* This prevents horizontal scrollbars on slide in animations *!*/
    overflow-x: hidden;
    font-size: calc(15px + 0.390625vw);
}

body {
    font-family: Verdana, sans-serif;
    background: var(--ui-black);
    color: var(--font-on-ui-grey);
}

/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 599px) {
    /* Changes the scroll padding to accommodate mobile*/
    html{
        scroll-padding: 55px;
    }
    .divider-black{
        width: 100%;
    }

    .divider-purple {
        width: 100%;
    }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    /* Changes the scroll padding to accommodate the header */
    html{
        scroll-padding: 45px;
    }
    .divider-black{
        width: 50vw;
    }

    .divider-purple {
        width: 50vw;
    }
}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
    /* Changes the scroll padding to accommodate the header */
    html{
        scroll-padding: 45px;
    }
}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
}

.divider-black{
    height: 1px;
    background: var(--ui-nav-grey);
}

.divider-purple {
    height: 1px;
    background: var(--link-text-color-purple);
}

.border{
    border: 1px solid var(--link-text-color-purple);
    border-radius: 5px;
}

.border-black{
    border: 1px solid var(--link-text-color-purple);
    box-shadow: 5px 5px 10px var(--ui-nav-grey), inset 2px 2px 5px var(--ui-nav-grey);
    border-radius: 5px;
}

.hidden{
    display: none;
}
